.env
storage/models/*
!storage/models/.gitkeep
storage/input/*
!storage/input/.gitkeep
storage/output/*
!storage/output/.gitkeep
storage/user/default/workflows/*
!storage/user/default/workflows/.gitkeep
storage/custom_nodes/*
!storage/custom_nodes/.gitkeep
!storage/custom_nodes/ComfyUI-*
!storage/custom_nodes/ComfyUI_*
!storage/custom_nodes/comfyui-lsnet
# Ignore embedded git repos in custom_nodes
storage/custom_nodes/*/.git
