[submodule "storage/custom_nodes/ComfyUI-Sharp"]
	path = storage/custom_nodes/ComfyUI-Sharp
	url = https://github.com/PozzettiAndrea/ComfyUI-Sharp.git
[submodule "storage/custom_nodes/ComfyUI-GeometryPack"]
	path = storage/custom_nodes/ComfyUI-GeometryPack
	url = https://github.com/PozzettiAndrea/ComfyUI-GeometryPack.git
[submodule "storage/custom_nodes/ComfyUI-Easy-Use"]
	path = storage/custom_nodes/ComfyUI-Easy-Use
	url = https://github.com/yolain/ComfyUI-Easy-Use.git
[submodule "storage/custom_nodes/ComfyUI-Impact-Pack"]
	path = storage/custom_nodes/ComfyUI-Impact-Pack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Pack.git
[submodule "storage/custom_nodes/ComfyUI_UltimateSDUpscale"]
	path = storage/custom_nodes/ComfyUI_UltimateSDUpscale
	url = https://github.com/ssitu/ComfyUI_UltimateSDUpscale.git
[submodule "storage/custom_nodes/ComfyUI-Impact-Subpack"]
	path = storage/custom_nodes/ComfyUI-Impact-Subpack
	url = https://github.com/ltdrdata/ComfyUI-Impact-Subpack.git
[submodule "storage/custom_nodes/ComfyUI-SeedVR2_VideoUpscaler"]
	path = storage/custom_nodes/ComfyUI-SeedVR2_VideoUpscaler
	url = https://github.com/numz/ComfyUI-SeedVR2_VideoUpscaler.git
[submodule "storage/custom_nodes/ComfyUI-Prompt-Assistant"]
	path = storage/custom_nodes/ComfyUI-Prompt-Assistant
	url = https://github.com/yawiii/ComfyUI-Prompt-Assistant.git
[submodule "storage/custom_nodes/comfyui-lsnet"]
	path = storage/custom_nodes/comfyui-lsnet
	url = https://github.com/spawner1145/comfyui-lsnet.git
